
.title{
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 32px;
    width:  300px;
    left: 455px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}
.othertext{
    margin-left: 0px;
    margin-top: 40px;
    font-family: Roboto;
    font-style: Roboto;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #C4C4C4;
    

}

.othertext2{

    margin-top: 30px;
    margin-left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 5px;
    color: #000000;
}



.container{
    /* background-color: #E5E5E5; */
    margin-top: 171px;
    margin-left: 520px;
    display:flex;
    justify-content: center;
    /* min-width: 301px;     */
    width: 299px;
    /* padding: 60px 50px; */
    height: 359px;
    border-radius:10px;
    /* border-style:solid; */

  }



  .textbox3{
  
    width: 299px;
    height: 40px;
    left: 417px;
    margin-top: 0px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .textbox4{
    width: 297px;
    height: 40px;
    left: 419px;
    margin-top: 28px;
    background: #096AF5;
    border-radius: 20px;
    outline: none;
    color: white;
    border: 0.5px solid;
    
  }

  .textbox5{
    width: 297px;
    height: 40px;
    left: 419px;
    margin-top: 0px;
    background: #ffff;
    border-radius: 20px;
    outline: none;  
    border: 0.5px solid #000000;
    box-sizing: border-box;

  }
