.customcard{
   
    width: 256px;
    height: 300px;
    /* margin-left: 30px; */
    margin-left: 22px;
    background: white;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 22px;
    
  }


  .customimg{
    width: 178px;
    height: 165px;
    margin-left: 17px;
    margin-top: 29px;
    background: #0f0f0f;
    /* background: url(././images/girl-1.jpg); */
  }

  .custombutton {
    width: 81px;
    height: 30px;
    margin-left: 130px;
    margin-top: -40px;   
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 6px;
    display:flex;

  }

  .custombutton p{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: #7B7B7B;
    text-align: center;
    margin-top: 9px;
  }

  .pricetag{
      display:flex;
      flex-wrap:no-wrap;
  }
  
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: -20px;
    color: #474747;
    
  }

  .span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1px;
    margin-top: -5px;
    padding:0px;
    height: 10px;
    color: #7B7B7B;
  }

  .customtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    
    color: #474747;
  }


  /********** RATING****************/

  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating1 { 
  border: none;
  float: left;
  margin-left: -4px;
  margin-top: -9px;
  /* background-image: ; */
  /* background : url(https://www.freepik.com/free-vector/abstract-grunge-texture-with-halftone-effect_16738381.htm#page=1&query=background&position=0&from_view=keyword); */
}

.rating1 > input { display: none; } 
.rating1 > label:before { 
  margin: 5px;
  font-size: 1.0em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  font-weight: 200;
}

.rating1 > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating1 > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating1 > input:checked ~ label, /* show gold star when clicked */
.rating1:not(:checked) > label:hover, /* hover current star */
.rating1:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating1 > input:checked + label:hover, /* hover current star when changing rating */
.rating1 > input:checked ~ label:hover,
.rating1 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating1 > input:checked ~ label:hover ~ label { color: #FFED85;  } 
