.container{
    
width: 0px;
height: 646.5px;
margin-left: 203px;
margin-top: -150px;
border: 1px solid rgba(232, 232, 232, 0.29);
}

.filter{  
    width: 240px;
    height: 0px;
    margin: 65px 0px 0px -241px;
    border: 1px solid rgba(232, 232, 232, 0.29);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1px;
    color: #7B7B7B;
}
 .category{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    padding-left: 1.0em;
    color: #7B7B7B;
    margin: 13px 0px 13px 2px;
    
 }

 .checkbox{
    width: 139px;
    height: 15px;
    top: 175px;
    padding-left: 3.5em;
 }

 .form-check {
   display: block;
   /* min-height: 1rem; */
   padding-left: 3.5em;
   /* padding-bottom: em; */
   /* margin-bottom: 0rem; */
 }

 label{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   color: #7B7B7B;
}
.price {
         
         margin: 30px 0px 0px 30px;
         font-family: Roboto;
         font-style: normal;
         font-weight: bold;
         font-size: 12px;
         color: #7B7B7B;
}


.filter2{
   width: 264px;
   height: 0px;
   margin: 260px 0px 0px -262px;
   border: 1px solid rgba(232, 232, 232, 0.29);
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 1px;
   color: #7B7B7B;
}

.buttons{

            display: flex;
            /* justify-content: space-around; */
         
            
}

.filter3{
 
   
   width: 247px;
   height: 0px;
   margin: 89px 0px 0px -252px;
   border: 1px solid rgba(232, 232, 232, 0.29);
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 1px;
   color: #7B7B7B;

   
}
.ratingtext{
         
   margin: 40px 0px 0px 16px;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 15px;
   color: #7B7B7B;
}

.button1{
   width: 162px;
   height: 30px;
   margin:-200px 0px 0px -35px ;
   background: #FF9900;
   border-radius: 6px;
   
 }
 .button1text{
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 12px;
   color: #9b9898;
   text-align: center;
   margin-top: 12px;
   padding-top: 9px;
 }
 


 